name: Build and check format

on: push

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: './package.json'
          cache: 'pnpm'
      - run: pnpm install --immutable
      - name: Check file formatting
        run: pnpm format:check
